* {
    box-sizing: border-box;
}

header {
    background-color: gold;
    color: black;
    padding-left: 40px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    vertical-align: middle;
    
}

header>img {
    width: 10%;
} 

nav {
    background-color: black;
    color: gold;
    height: 40px;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
nav>ul.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav>ul>li{
    display: inline;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}
nav>ul>il>a{
    color: transparent;
}


iframe {
    background-color: gold;
    float: left;
    width: 75%;
    height: 700px;
    padding: 25px 25px 25px 25px;
    
}

article {
    display: flex;
    flex-direction: column;
    background-color: gold;
    height: 700px;
}
article>img {
    max-height: 350px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

footer {
    color: gold;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}