*
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo
{
    width: 100%;
    height: auto;
    vertical-align: middle;
    background-color: aqua;
    padding: 2px;
    border-radius: 10px;

}



.logobild
{
    width: 2%;
    background-color: aqua;
}

.background
{
    background-color: blueviolet;
}

h1
{
    width: 100%;
}

#nummerett{
    background-color: orange;
    border-width: 1px;
    border-color: black;
    
}


.item1
{
    width: 70%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.item2{
    background-color: orange;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    border-radius: 10px;
   
}

.item3
{
    margin-left: 10px;
    width: 10%;
    float:right;
}

.reklam
{
    
    width: 100%;

}

.imgs
{
    width: 20%;
}

.link{
    background-color:aliceblue;
    margin-top: 10px;
    color:black;
    width: 50%;
}

h2
{
    margin-top: 0;
    margin-left: 10px;
    background-color: orange;
}

.btext
{
    margin-top: 3%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

aside 
{
    float: right;
    flex-direction:row-reverse;
}

#logotext
{
    margin: 0;
    background-color: aqua;
}

.logolank
{
    background-color: aqua;
}

title
{
    display: none;
}