*
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

title
{
    display: none;
}

header {
    background-color: gold;
    color: black;
    padding-left: 40px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    vertical-align: middle;
    text-decoration: none;

}

#logotext
{
    margin: 0;
    background-color: gold;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 40px;
    text-decoration: none;
}

.logolank
{
    background-color: gold;
}

.logobild
{
    width: 10%;
    background-color: gold;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 9px;
}

header>.logobild {
    width: 10%;
}

.background
{
    background-color: gold;
}

h1
{
    width: 100%;
}

nav 
{
    background-color: black;
    color: gold;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: 1px solid gold;
    padding-bottom: 10px;

}

.dropdown-menu
{
    width: 110%;
    margin-left: -40px;
    background-color: black;
    display: block;
    display: inline-block;
}

.dropdown-title
{
    font-size: 25px;
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
    background-color: transparent;
    color: gold;
    padding-left: 49%;
    position: relative;

}

.dropdown
{
    display: none;
    position: absolute;
    left: 6%;
    margin-left: 30rem;
    width: 25%;
    max-width: 400px;
    background-color: gold;
    border: 1px solid black;
    box-shadow: 0 8px 16px rgba(255, 215, 0, 0.2);
    list-style: none;
    border-radius: 5px;
    padding: 0;
    margin-top: 5px;
    
    

}

.dropdown a
{
    display: block;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width:100%;
    
}

.dropdown a:focus
{
   background-color: whitesmoke;
}

.dropdown-menu:hover .dropdown
{
    display: block;

}

.dropdown a:hover
{
    background-color: rgba(245, 245, 245, 0.384);
}

#first
{
    margin-top: 6%;
}

.item2
{
    background-color: orange;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    border-radius: 10px;
    position: relative;
    border: solid black 1px;
   
}

div.item2 > a:hover
{
    color: blue;
}

.imgs
{
    width: 20%;
}

h2
{
    margin-top: 0;
    margin-left: 10px;
    background-color: orange;
}

.btext
{
    margin-top: 3%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}

ul.btext
{
    display: block;   
}

.listbr
{
    margin-bottom: 15px;
}

.pris
{
    position: absolute;
    right: 10px;
    bottom: 0;
}

#lastcar
{
    margin-bottom: 10px;
}

.item3
{
    margin-left: 10%;
    width: 11%;
    float:right;
}

.reklam
{
    margin-top: 50%;
    width: 100%;

}

.link
{
    background-color:aliceblue;
    margin-top: 10px;
    color:black;
    width: 50%;
    text-decoration: none;
    
}

.ltext
{
    margin-top: 3%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}

aside 
{

    float: right;
    flex-direction:row-reverse;
}

a
{
    text-decoration: none;
}

a:hover
{
    color:darkred;
}

.ltext
{
    background-color: aliceblue;
}

footer 
{
    color: gold;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
}

div.background > h1
{
    margin: 10px;
}

div.background > div.item4 > img
{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.biltext
{
    display: block;   
}

.billista
{
    margin-bottom: 15px;
}

#bilid
{
    background-color: aliceblue;
    padding: 10px;
    margin-left: 10px;
    
}

div.bildiv > ul.biltext > li > h2
{
    background-color: aliceblue;
}

.bildiv
{
    margin-left: 10px;
}
